<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sci_Line.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD6138E61D2B4F82007BA94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6138FF1D2B4F84007BA94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD61390A1D2B4F84007BA94A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
